

.fixed-img {
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}
    
.catalogo-card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  /*transform: scale(1.05);  Le da un ligero aumento al pasar el mouse */
  transition: all 0.3s ease; /* Transición suave */
}

